In [1]:
from sklearn import tree
import pandas as pd
import os
from pickle import dump
import numpy as np

In [3]:
# make dataframe with wine csv
df_wine = pd.read_csv(os.path.join("..", "Resources", "winequality-joined.csv"))
df_wine.head()

,color,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [6]:
# sorting the quality column to get range of values for target
wine_desc = df_wine.sort_values(by='quality', ascending=False)
wine_desc.head()

,color,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
827,white,7.4,0.24,0.36,2.0,0.031,27.0,139.0,0.99055,3.28,0.48,12.5,9
820,white,6.6,0.36,0.29,1.6,0.021,24.0,85.0,0.98965,3.41,0.61,12.4,9
1605,white,7.1,0.26,0.49,2.2,0.032,31.0,113.0,0.99030,3.37,0.42,12.9,9
876,white,6.9,0.36,0.34,4.2,0.018,57.0,119.0,0.98980,3.28,0.36,12.7,9
774,white,9.1,0.27,0.45,10.6,0.035,28.0,124.0,0.99700,3.20,0.46,10.4,9

In [3]:
target = df["quality"]
target_names = ["negative", "positive"] 
target_names[1]

'positive'

In [4]:
data = df.drop("Outcome", axis=1)
feature_names = data.columns
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [6]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScater model and fit it to the training data

X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [7]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train_scaled, y_train)
clf.score(X_test_scaled, y_test)

0.6875

In [8]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=420)
model = rf.fit(X_train_scaled, y_train)
model.score(X_test_scaled, y_test)

0.7395833333333334

In [9]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.26544459158597344, 'Glucose'),
 (0.1641806068402667, 'BMI'),
 (0.1420791105058266, 'Age'),
 (0.120112695186777, 'DiabetesPedigreeFunction'),
 (0.08748996351500753, 'BloodPressure'),
 (0.07980383203508229, 'Pregnancies'),
 (0.07168196872218029, 'Insulin'),
 (0.06920723160888621, 'SkinThickness')]

In [10]:
res=rf.predict(X_test_scaled[0].reshape(1,-1))[0]
target_names[res]

'negative'

In [11]:
dump(X_scaler, open('../scaler.pkl', 'wb'))
dump(model, open('../model.pkl', 'wb'))

In [30]:
from pickle import load
model = load(open('model.pkl', 'rb'))
# load the scaler
scaler = load(open('scaler.pkl', 'rb'))

new_data = np.array([[6,148,72,35,0,33.6,0.627,50]])

In [36]:
target_names[model.predict(scaler.transform(new_data))[0]]

'positive'