In [1]:
# !pip install sklearn
# !pip install pickle
from sklearn import tree
# from sklearn.datasets import make_regression
# from sklearn.linear_model import LinearRegression
import pandas as pd
import os
from pickle import dump
import numpy as np

In [2]:
# make dataframe with wine csv
df_wine = pd.read_csv(os.path.join("..", "Resources", "winequality-red.csv"))
df_wine.head()

,color,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [3]:
# sorting the quality column to get range of values for target (3 to 9)
wine_desc = df_wine.sort_values(by='quality', ascending=False)
wine_desc.head()

,color,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
827,white,7.4,0.24,0.36,2.0,0.031,27.0,139.0,0.99055,3.28,0.48,12.5,9
1605,white,7.1,0.26,0.49,2.2,0.032,31.0,113.0,0.99030,3.37,0.42,12.9,9
876,white,6.9,0.36,0.34,4.2,0.018,57.0,119.0,0.98980,3.28,0.36,12.7,9
774,white,9.1,0.27,0.45,10.6,0.035,28.0,124.0,0.99700,3.20,0.46,10.4,9
820,white,6.6,0.36,0.29,1.6,0.021,24.0,85.0,0.98965,3.41,0.61,12.4,9

In [4]:
# we are going to make the range 0 to 10 so that new outlier data can be added by user
# hard code a drop down menu on the user interface to select 0-10 so people can't type decimals
target = df_wine["quality"]
target_names = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10"] 
target_names

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [5]:
wine_qual_drop = df_wine.drop("quality", axis=1)
# feature_names = wine_qual_drop.columns
wine_qual_drop.head()

,color,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9

In [6]:
# had to drop color column bc not an integer
wine_color_drop = wine_qual_drop.drop("color", axis=1)
# coded red and white as binary in the spreadsheet white is 0 and red is 1
# feature_names = wine_qual_drop.columns
feature_names = wine_color_drop.columns
# wine_color_drop.head()

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(wine_color_drop, target, random_state=42)

In [10]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScaler model and fit it to the training data

X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train_scaled, y_train)
clf.score(X_test_scaled, y_test)

0.6040816326530613

In [12]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=420)
model = rf.fit(X_train_scaled, y_train)
# Create a linear model
# model = LinearRegression()

# Fit (Train) our model to the data
model.fit(X_train_scaled, y_train)

model.score(X_test_scaled, y_test)

0.6914285714285714

In [13]:
# from sklearn.metrics import mean_squared_error, r2_score

In [14]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.11450587865459651, 'alcohol'),
 (0.1043839928750634, 'density'),
 (0.10242792068814088, 'volatile acidity'),
 (0.09284000196736064, 'free sulfur dioxide'),
 (0.09111152920251989, 'total sulfur dioxide'),
 (0.08788243462680216, 'residual sugar'),
 (0.08570153796788903, 'pH'),
 (0.08459835765109822, 'chlorides'),
 (0.08063043717601232, 'citric acid'),
 (0.07939562790243188, 'sulphates'),
 (0.07652228128808505, 'fixed acidity')]

In [15]:
res=rf.predict(X_test_scaled[0].reshape(1,-1))[0]
target_names[res]

'7'

In [16]:
dump(X_scaler, open('../scaler.pkl', 'wb'))
dump(model, open('../model.pkl', 'wb'))

In [19]:
from pickle import load
model = load(open('../model.pkl', 'rb'))
# load the scaler
scaler = load(open('../scaler.pkl', 'rb'))

new_data = np.array([[6.4,0.27,0.41,1.3,0.052,16,132,0.8951,3.12,0.43,8]])

In [20]:
target_names[model.predict(scaler.transform(new_data))[0]]

'5'