In [1]:
# !pip install sklearn
# !pip install pickle
from sklearn import tree
# from sklearn.datasets import make_regression
# from sklearn.linear_model import LinearRegression
import pandas as pd
import os
from pickle import dump
import numpy as np

In [2]:
# make dataframe with wine csv
df_wine = pd.read_csv(os.path.join("..", "Resources", "winequality-red.csv"))
df_wine.head()

,color,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,red,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,red,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,red,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
# sorting the quality column to get range of values for target (3 to 9)
wine_desc = df_wine.sort_values(by='quality', ascending=False)
wine_desc.head()

,color,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
495,red,10.7,0.35,0.53,2.6,0.070,5.0,16.0,0.99720,3.15,0.65,11.0,8
1403,red,7.2,0.33,0.33,1.7,0.061,3.0,13.0,0.99600,3.23,1.10,10.0,8
390,red,5.6,0.85,0.05,1.4,0.045,12.0,88.0,0.99240,3.56,0.82,12.9,8
1061,red,9.1,0.40,0.50,1.8,0.071,7.0,16.0,0.99462,3.21,0.69,12.5,8
1202,red,8.6,0.42,0.39,1.8,0.068,6.0,12.0,0.99516,3.35,0.69,11.7,8

In [4]:
# we are going to make the range 0 to 10 so that new outlier data can be added by user
# hard code a drop down menu on the user interface to select 0-10 so people can't type decimals
target = df_wine["quality"]
target_names = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10"] 
target_names

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [5]:
wine_qual_drop = df_wine.drop("quality", axis=1)
# feature_names = wine_qual_drop.columns
wine_qual_drop.head()

,color,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,red,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,red,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,red,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,red,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

In [6]:
# had to drop color column bc not an integer
wine_color_drop = wine_qual_drop.drop("color", axis=1)
# coded red and white as binary in the spreadsheet white is 0 and red is 1
# feature_names = wine_qual_drop.columns
feature_names = wine_color_drop.columns
# wine_color_drop.head()

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(wine_color_drop, target, random_state=42)

In [9]:
from sklearn.preprocessing import StandardScaler

# Create a StandardScaler model and fit it to the training data

RX_scaler = StandardScaler().fit(X_train)
X_train_scaled = RX_scaler.transform(X_train)
X_test_scaled = RX_scaler.transform(X_test)

In [10]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train_scaled, y_train)
clf.score(X_test_scaled, y_test)

0.5925

In [11]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=420)
model = rf.fit(X_train_scaled, y_train)
# Create a linear model
# model = LinearRegression()

# Fit (Train) our model to the data
model.fit(X_train_scaled, y_train)

model.score(X_test_scaled, y_test)

0.665

In [12]:
# from sklearn.metrics import mean_squared_error, r2_score

In [13]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.15114682630182902, 'alcohol'),
 (0.11080456468075442, 'sulphates'),
 (0.10576238967510511, 'total sulfur dioxide'),
 (0.10071175705822469, 'volatile acidity'),
 (0.09088362370611222, 'density'),
 (0.08153384364141306, 'chlorides'),
 (0.07431794223385453, 'pH'),
 (0.07336770194843371, 'citric acid'),
 (0.07297204539203879, 'fixed acidity'),
 (0.07268996012154127, 'residual sugar'),
 (0.0658093452406932, 'free sulfur dioxide')]

In [14]:
res=rf.predict(X_test_scaled[0].reshape(1,-1))[0]
target_names[res]

'5'

In [18]:
dump(RX_scaler, open('../Rscaler.pkl', 'wb'))
dump(Rmodel, open('../Rmodel.pkl', 'wb'))

In [19]:
from pickle import load
Rmodel = load(open('../Rmodel.pkl', 'rb'))
# load the scaler
Rscaler = load(open('../Rscaler.pkl', 'rb'))

new_data = np.array([[6.4,0.27,0.41,1.3,0.052,16,132,0.8951,3.12,0.43,8]])

In [20]:
target_names[Rmodel.predict(Rscaler.transform(new_data))[0]]

'5'